<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to Gitpub</h1>
    <ul>
        <% drinks.forEach(function(drink) { %>
          <li> <a href="./show.ejs"><%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1)%> </a></li>
        <% }); %>
    </ul>
      
    <style>
        body {
          color: blanchedalmond;
          background-color: steelblue;
          text-align: center;
        }
    </style>      
</body>
</html>
